footer{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    bottom: 0;
}
footer div p{
    font-size: 9px;
    margin-top: 5px;
    color: gray;
}
footer img{
    width: 23px;
    height: 21px;
}


@media (max-width:430px) {
    footer{
        width: 100%;
        left: 0;
        padding: 10px 35px;
    }
}