#home{
    width: 500px;
}
#home>h4{
    margin-left: 20px;
    margin-bottom: 10px;
}
.card-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
}
.card-container .card{
    width: 100%;
}
.card-container .card img{
    width: 100%;
    border-radius: 10px;
}
.card-container .card p{
    font-size: 12px;
    margin: 10px 0 35px;
    text-transform: capitalize;
    color: rgb(49, 49, 49);
    font-weight: 600;
}
.card-end{
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
@media (max-width:430px) {
    #home{
        width: 100%;
    }
}